.guided-tour-portal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;

  .spotlight {
    position: absolute;
    box-shadow:
      0 0 0,
      0 0 0   10000vmax rgba(0,0,0,0.5);
  }

  .tooltip {
    position: absolute;
    width: 280px;
    height: 362px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: opacity 0.1s ease-in-out;

    &__progress-bar {
      display: flex;
      width: 280px;
      height: calc(var(--spacing-unit) / 2);
      background-color: var(--color-silver-light);

      &__step {
        height: 100%
      }

    }

    &__box {
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: var(--spacing-unit);

      &__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
  
      &__content {
        // position: relative;
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
  
        &__title {
          // position: absolute;
          // top: -7px;
          font-size: calc(var(--spacing-unit) * 2);
          font-weight: bold;
        }
  
        img {
          border-radius: 50%;
          height: 180px;
          width: 180px;
        }
  
        &__text {
          text-align: center;
          color: var(--color-granite);
        }
      }
  
      &__footer {
        display: flex;
        margin-top: var(--spacing-unit);
  
        &__ghost-element {
          flex: 1
        }
      
        &__step-counter {
          span:first-of-type {
            color: var(--color-secondary);
            font-size: calc(var(--spacing-unit) * 1.6);
          }
          span:last-of-type {
            color: var(--color-granite);
          }
        }
  
        &__btn-skip, &__btn-start {
          flex: 1;
          margin: auto;
  
          button {
            padding: 0px;
            font-weight: bold;
          }
        }
  
        &__btn-skip > button {
          margin-right: auto;
        }
  
        &__btn-start > button {
          margin-left: auto;
        }
  
        &__btn-next {
          flex: 1;
  
          button {
            padding: 10px;
            margin-left: auto;
          }
        }
      }
    }
  }
}
.centeredTooltip {
  display: flex;
  justify-content: center;
  align-items: center;
}
