@import "../../assets/scss/_BIMDataVariables.scss";
@import "../../assets/scss/mixins/_font-size.scss";
@import "../../assets/scss/utilities/_text.scss";
.bimdata-card {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  font-family: var(--primary-font);
  font-size: calculateEm(14px);
  overflow: auto;
  &__content,
  &__footer {
    font-size: calculateEm(12px);
  }
  &__header {
    padding: 10px var(--spacing-unit);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-silver-light);
    color: var(--color-primary);
    font-size: calculateEm(13px);
  }
  &__submenu {
    padding: calc(#{var(--spacing-unit)} / 2) var(--spacing-unit);
    display: flex;
    align-items: center;
    position: relative;
    background: var(--color-white);
    box-shadow: var(--box-shadow);
    font-size: calculateEm(12px);
  }
  &__content {
    padding: var(--spacing-unit);
    color: var(--color-granite);
  }
  &__footer {
    padding: 0 var(--spacing-unit) var(--spacing-unit);
  }

  &__primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    .bimdata-card__header,
    .bimdata-card__submenu {
      background-color: var(--color-primary);
    }
    .bimdata-card__header {
      color: var(--color-white);
      filter: saturate(0.8);
    }
    .bimdata-card__content {
      color: var(--color-white);
    }
  }
  &__secondary {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    .bimdata-card__header,
    .bimdata-card__submenu {
      background-color: var(--color-secondary);
    }
    .bimdata-card__header {
      color: var(--color-primary);
      filter: saturate(0.8);
    }
  }
}
