@import "../../assets/scss/_BIMDataVariables.scss";
.bimdata-card__brand {
  justify-content: space-between;
  &--left {
    margin-right: var(--spacing-unit);
    display: flex;
    align-items: center;
    svg {
      margin-right: calc(#{var(--spacing-unit)} / 2);
    }
  }
}
