.bimdata-card__brand {
  justify-content: space-between;
  &--left {
    margin-right: $spacing-unit;
    display: flex;
    align-items: center;
    svg {
      margin-right: calc(#{$spacing-unit} / 2);
    }
  }
}
