.bimdata-card {
  background-color: var(--color-highlight);
  box-shadow: var(--box-shadow);
  font-family: var(--primary-font);
  font-size: 14px;
  &__content,
  &__footer {
    font-size: 12px;
  }
  &__header {
    padding: 10px var(--spacing-unit);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-tertiary-lighten);
    color: var(--color-primary);
    font-size: 13px;
  }
  &__submenu {
    padding: calc(var(--spacing-unit) / 2) var(--spacing-unit);
    display: flex;
    align-items: center;
    position: relative;
    color: var(--color-primary);
    background: var(--color-highlight);
    box-shadow: var(--box-shadow);
    font-size: 12px;
  }
  &__content {
    padding: var(--spacing-unit);
    color: var(--color-tertiary-dark);
  }
  &__footer {
    padding: 0 var(--spacing-unit) var(--spacing-unit);
    color: var(--color-primary);
  }
}

// THEME DARK
.bimdata-ds-theme-dark {
  .bimdata-card {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
