@import "../../../../../assets/scss/mixins/_font-size.scss";

.color-palettes {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  .color-palette {
    width: 237px;
    overflow: hidden;
    cursor: pointer;

    &__header {
      &__name,
      &__hex {
        .label {
          font-size: calculateEm(9px);
          line-height: 16px;
          text-transform: uppercase;
        }
        .value {
          font-size: calculateEm(11px);
          display: flex;
          justify-content: space-between;
        }
      }
    }
    &__header {
      height: 90px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      &__name,
      &__hex {
        padding: 6px 12px;
        .label {
          opacity: 0.5;
        }
      }
    }
  }
}
