/* background BRAND COLORS */
.bg-primary{
  background-color: var(--color-primary);
}
.bg-secondary{
  background-color: var(--color-secondary);
}

/* colors GREY SHADES - NEUTRAL */
.bg-white{
  background-color: var(--color-white);
}
.bg-silver{
  background-color: var(--color-silver);
}
.bg-silver-light{
  background-color: var(--color-silver-light);
}
.bg-silver-dark{
  background-color: var(--color-silver-dark);
}
.bg-granite-light{
  background-color: var(--color-granite-light);
}
.bg-granite{
  background-color: var(--color-granite);
}
.bg-black{
  background-color: var(--color-black);
}

/* background STATE COLORS */
.bg-success{
  background-color: var(--color-success);
}
.bg-warning{
  background-color: var(--color-warning);
}
.bg-high{
  background-color: var(--color-high);
}

/* color BRAND COLORS */
.color-primary{
  color: var(--color-primary);
}
.color-secondary{
  color: var(--color-secondary);
}

/* background VARIANT COLORS */
.color-white{
  color: var(--color-white);
}
.color-silver-light{
  color: var(--color-silver-light);
}
.color-silver{
  color: var(--color-silver);
}
.color-silver-dark{
  color: var(--color-silver-dark);
}
.color-granite-light{
  color: var(--color-granite-light);
}
.color-granite{
  color: var(--color-granite);
}
.color-black{
  color: var(--color-black);
}

/* background STATE COLORS */
.color-success{
  color: var(--color-success);
}
.color-warning{
  color: var(--color-warning);
}
.color-high{
  color: var(--color-high);
}

