.m-t-6 {
  margin-top: 6px;
}
.p-t-6 {
  padding-top: 6px;
}
.m-b-6 {
  margin-bottom: 6px;
}
.p-b-6 {
  padding-bottom: 6px;
}
.m-l-6 {
  margin-left: 6px;
}
.p-l-6 {
  padding-left: 6px;
}
.m-r-6 {
  margin-right: 6px;
}
.p-r-6 {
  padding-right: 6px;
}
.m-6 {
  margin: 6px;
}
.p-6 {
  padding: 6px;
}
.m-x-6 {
  margin-right: 6px;
  margin-left: 6px;
}
.p-x-6 {
  padding-right: 6px;
  padding-left: 6px;
}
.m-y-6 {
  margin-top: 6px;
  margin-bottom: 6px;
}
.p-y-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.m-t-12 {
  margin-top: 12px;
}
.p-t-12 {
  padding-top: 12px;
}
.m-b-12 {
  margin-bottom: 12px;
}
.p-b-12 {
  padding-bottom: 12px;
}
.m-l-12 {
  margin-left: 12px;
}
.p-l-12 {
  padding-left: 12px;
}
.m-r-12 {
  margin-right: 12px;
}
.p-r-12 {
  padding-right: 12px;
}
.m-12 {
  margin: 12px;
}
.p-12 {
  padding: 12px;
}
.m-x-12 {
  margin-right: 12px;
  margin-left: 12px;
}
.p-x-12 {
  padding-right: 12px;
  padding-left: 12px;
}
.m-y-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}
.p-y-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.m-t-18 {
  margin-top: 18px;
}
.p-t-18 {
  padding-top: 18px;
}
.m-b-18 {
  margin-bottom: 18px;
}
.p-b-18 {
  padding-bottom: 18px;
}
.m-l-18 {
  margin-left: 18px;
}
.p-l-18 {
  padding-left: 18px;
}
.m-r-18 {
  margin-right: 18px;
}
.p-r-18 {
  padding-right: 18px;
}
.m-18 {
  margin: 18px;
}
.p-18 {
  padding: 18px;
}
.m-x-18 {
  margin-right: 18px;
  margin-left: 18px;
}
.p-x-18 {
  padding-right: 18px;
  padding-left: 18px;
}
.m-y-18 {
  margin-top: 18px;
  margin-bottom: 18px;
}
.p-y-18 {
  padding-top: 18px;
  padding-bottom: 18px;
}

.m-t-24 {
  margin-top: 24px;
}
.p-t-24 {
  padding-top: 24px;
}
.m-b-24 {
  margin-bottom: 24px;
}
.p-b-24 {
  padding-bottom: 24px;
}
.m-l-24 {
  margin-left: 24px;
}
.p-l-24 {
  padding-left: 24px;
}
.m-r-24 {
  margin-right: 24px;
}
.p-r-24 {
  padding-right: 24px;
}
.m-24 {
  margin: 24px;
}
.p-24 {
  padding: 24px;
}
.m-x-24 {
  margin-right: 24px;
  margin-left: 24px;
}
.p-x-24 {
  padding-right: 24px;
  padding-left: 24px;
}
.m-y-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.p-y-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
