.article-icons {
  img {
    width: 71px;
    height: auto;
  }
  .bimdata-search-bar {
    margin: 0 0 var(--spacing-unit);
  }
  .bimdata-ds__demo {
    ::v-deep.bimdata-ds__demo__module {
      padding-top: 38px;
      justify-content: flex-start;
    }
    &__module {
      .bimdata-search-bar {
        position: absolute;
        top: 0;
        left: 0;
      }
      .icons-numbers {
        height: 32px;
        padding: 0 6px;
        background-color: var(--color-primary);
        color: var(--color-highlight);
        font-size: 10px;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
      }
      .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > div {
          margin: calc(var(--spacing-unit) / 2);
          padding: var(--spacing-unit);
          width: 118px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            margin: calc(var(--spacing-unit) / 2) 0 0 0;
            color: var(--color-primary);
          }
          &:hover {
            background-color: var(--color-tertiary-lighten);
            cursor: pointer;
          }
          &.active {
            background-color: var(--color-tertiary-lighten);
          }
        }
      }
    }
  }
}
