.article-icons {
  img {
    width: 71px;
    height: auto;
  }
  .bimdata-search-bar {
    margin: 0 0 $spacing-unit;
  }
  .bimdata-ds__demo {
    &__module {
      padding: 0;
      .bimdata-search-bar {
        position: absolute;
        top: 0;
        left: 0;
      }
      .icons-numbers {
        height: 32px;
        padding: 0 6px;
        background-color: $color-primary;
        color: $color-white;
        font-size: 10px;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
      }
      .icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > div {
          margin: calc(#{$spacing-unit} / 2);
          padding: $spacing-unit;
          width: 118px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          p {
            margin: calc(#{$spacing-unit} / 2) 0 0 0;
            font-size: calculateEm(12px);
          }
          &:hover {
            background-color: $color-tertiary-lightest;
            cursor: pointer;
          }
          &.active {
            background-color: $color-tertiary-lightest;
          }
        }
      }
    }
    &__parameters__options {
      .bimdata-radio {
        font-size: 12px;
      }
    }
  }
  ::v-deep .bimdata-table {
    th:nth-child(5),
    td:nth-child(5) {
      flex-grow: 3;
    }
    th:last-child,
    td:last-child {
      flex-grow: 2;
    }
  }
}
