.bimdata-menu {
  padding: var(--spacing-unit) 0;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: 12px;
  & .bimdata-menu__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 12px;
    &:not(:empty) {
      .bimdata-menu__item__content {
        padding: 0 var(--spacing-unit);
        height: 29px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        & > span {
          width: 100%;
        }
        &:hover {
          background-color: var(--color-silver-light);
        }
        &--active {
          background-color: #f0f5ff;
        }
      }
    }
    & .bimdata-menu__item__title {
      padding: 0 var(--spacing-unit);
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-granite);
      font-size: 11px;
    }
    &.bimdata-menu__item__divider {
      .divider {
        margin: calc(var(--spacing-unit) / 2) auto;
        width: 90%;
        border-bottom: 1px solid #f2f2f2;
      }
    }
    & .bimdata-menu__item__title,
    &.bimdata-menu__item__divider {
      &:hover {
        cursor: default;
        background-color: transparent;
      }
    }
    & .bimdata-menu__item__children {
      position: absolute;
      z-index: 1;
      top: 0;
      padding: calc(var(--spacing-unit) / 2) 0;
      background-color: var(--color-white);
      border: 1px solid transparent;
      box-shadow: var(--box-shadow);
      ul {
        li {
          height: 29px;
          &:hover {
            background-color: var(--color-silver-light);
          }
        }
      }
    }
  }

  .bimdata-menu__item__content {
    position: relative;
    z-index: 0;
  }
  .bimdata-menu__item:first-child .bimdata-menu__item__content:hover::before {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  .bimdata-menu__item:last-child .bimdata-menu__item__content:hover::before {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .bimdata-menu__item__content:hover::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-silver-light);
    z-index: -1;
    pointer-events: none;
    transition: background-color 0.2s;
  }

  &.dark {
    background-color: var(--color-quaternary);
    color: var(--color-quaternary-lighter);
    & .bimdata-menu__item {
      & .bimdata-menu__item__title {
        color: var(--color-white);
      }
      & .bimdata-menu__item__content {
        &:hover {
          background-color: transparent; 
          &::before {
            background-color: color-mix(in srgb, transparent, var(--color-quaternary-lighter) 8%);
          }
        }
        &.bimdata-menu__item__content--active {
          background-color: color-mix(in srgb, transparent, var(--color-quaternary-lighter) 5%);
        }
      }
      & .bimdata-menu__item__children {
        background-color: var(--color-quaternary);
        ul {
          li {
            &:hover {
              background-color: color-mix(in srgb, transparent, var(--color-quaternary-lighter) 8%);
            }
          }
        }
      }
    }
    & .bimdata-menu__item__divider {
      .divider {
        border-color: var(--color-quaternary-lighter);
      }
    }
  }
}
