/* background BRAND COLORS */
.bg-primary{
  background-color: $color-primary;
}
.bg-secondary{
  background-color: $color-secondary;
}
.bg-tertiary{
  background-color: $color-tertiary;
}

/* background VARIANT COLORS */
.bg-tertiary-lightest{
  background-color: $color-tertiary-lightest;
}
.bg-tertiary-dark{
  background-color: $color-tertiary-dark;
}
.bg-tertiary-darkest{
  background-color: $color-tertiary-darkest;
}

/* background COMMON COLORS */
.bg-white{
  background-color: $color-white;
}
.bg-black{
  background-color: $color-black;
}

/* background STATE COLORS */
.bg-neutral{
  background-color: $color-neutral;
}
.bg-success{
  background-color: $color-success;
}
.bg-disabled{
  background-color: $color-disabled;
}
.bg-warning{
  background-color: $color-warning;
}
.bg-high{
  background-color: $color-high;
}


/* color BRAND COLORS */
.color-primary{
  color: $color-primary;
}
.color-secondary{
  color: $color-secondary;
}
.color-tertiary{
  color: $color-tertiary;
}

/* background VARIANT COLORS */
.color-tertiary-lightest{
  color: $color-tertiary-lightest;
}
.color-tertiary-dark{
  color: $color-tertiary-dark;
}
.color-tertiary-darkest{
  color: $color-tertiary-darkest;
}

/* background COMMON COLORS */
.color-white{
  color: $color-white;
}
.color-black{
  color: $color-black;
}

/* background STATE COLORS */
.color-neutral{
  color: $color-neutral;
}
.color-success{
  color: $color-success;
}
.color-disabled{
  color: $color-disabled;
}
.color-warning{
  color: $color-warning;
}
.color-high{
  color: $color-high;
}

