@import "../BIMDataVariables";
@import "../mixins/font-size";

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bimdata-link {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  font-weight: bold;
}

/* BIMDATA FONT WEIGHT */
.primary-font {
  font-family: "robotoregular", sans-serif;
}
.primary-font-medium {
  font-family: "robotomedium", sans-serif;
}
.primary-font-bold {
  font-family: "robotobold", sans-serif;
}
