@import "../BIMDataVariables";
@import "../mixins/font-size";
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bimdata-link {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  font-weight: bold;
}

/* BIMDATA FONT WEIGHT */
.primary-font {
  font-family: "roboto", sans-serif;
}
