@import "../BIMDataVariables";
@import "../mixins/font-size";

.bimdata-h1,
.bimdata-h2,
.bimdata-h3,
.bimdata-h4,
.bimdata-h5,
.bimdata-h6,
.bimdata-text {
  margin: 0.5em 0;
}

/* BIMDATA FONT SIZE */
.bimdata-h1 {
  font-size: calculateEm(34px);
}
.bimdata-h2 {
  font-size: calculateEm(30px);
}
.bimdata-h3 {
  font-size: calculateEm(26px);
}
.bimdata-h4 {
  font-size: calculateEm(24px);
}
.bimdata-h5 {
  font-size: calculateEm(20px);
}
.bimdata-h6 {
  font-size: calculateEm(16px);
}
.bimdata-text {
  font-size: calculateEm(14px);
}
.bimdata-link {
  color: $color-primary;
  border-bottom: 1px solid $color-primary;
  font-weight: bold;
}

/* BIMDATA FONT WEIGHT */
.primary-font {
  font-family: "robotoregular", sans-serif;
}
.primary-font-medium {
  font-family: "robotomedium", sans-serif;
}
.primary-font-bold {
  font-family: "robotobold", sans-serif;
}
