select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px $color-white inset;
}

// custom SELECT - BCF EDIT
.bimdata-select {
  position: relative;
  &__content {
    height: 32px;
    .select {
      height: 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 10;
      &:hover {
        cursor: pointer;
      }
      // label position when select is active
      &.active {
        & ~ label {
          position: absolute;
          top: -24px;
          color: $color-primary;
          @include font-size(10px);
          transform: translateY(12px);
          transition: 0.2s ease all;
        }
        & ~ .bar {
          &:after {
            width: 100%;
            transition: transform 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
            transform: scaleX(1);
          }
        }
        svg{
          transform: rotate(90deg);
        }
      }
    }
    & ~ ul {
      padding: calc(#{$spacing-unit} / 2) 0;
      width: 100%;
      position: absolute;
      top: -3px;
      background-color: $color-white;
      box-shadow: 0 2px 10px 0 rgba($color-black, 0.1);
      z-index: 11;
      li {
        padding: 0 $spacing-unit;
        height: 29px;
        display: flex;
        align-items: center;
        cursor: pointer;
        &.selected {
          background-color: $color-tertiary;
          &:hover {
            background-color: darken($color-tertiary, 5%);
          }
        }
        &:hover {
          background-color: $color-tertiary-lightest;
          transition: all ease 0.2s;
        }
      }
    }
  }
  &.not-empty {
    label {
      top: -24px;
      color: $color-primary;
      @include font-size(10px);
    }
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    @include font-size(12px);
    transform: translateY(12px);
    transition: 0.2s ease all;
    color: $color-tertiary-dark;
  }
  .bar {
    width: 100%;
    height: 1px;
    position: absolute;
    display: block;
    background: $color-tertiary;
    bottom: 0;
    &::after {
      width: 0;
      height: 2px;
      @include pseudo;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-primary;
      transform: scaleX(0);
    }
  }
}