// custom BASE PAGINATION
.bimdata-pagination {
  &__item {
    .bimdata-btn {
      padding: 0;
      justify-content: center;
    }

    &.active {
      .bimdata-btn {
        font-weight: 700;
      }
    }
  }
}
