.bimdata-pagination {
  .bimdata-pagination__item {
    .bimdata-btn {
      padding: 0;
      justify-content: center;
    }

    &.active {
      .bimdata-btn {
        font-weight: 700;
      }
    }
  }
  &.dark {
    background-color: var(--color-quaternary);
  }
}
