@import "../../assets/scss/_BIMDataVariables.scss";
@import "./_keyframes.scss";
.bimdata-spinner {
  display: flex;
  &--square {
    width: var(--spacing-unit);
    height: var(--spacing-unit);
    border: 2px var(--color-primary) solid;
    animation: bimdataspinner 1.4s linear infinite;
  }
}
