textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px $color-white inset;
}

.bimdata-textarea {
  margin: $spacing-unit 0;
  position: relative;
  inline-size: min-content;
  font-family: $primary-font;
  font-size: calculateEm(14px);
  textarea {
    padding: 0px;
    width: 100%;
    min-width: inherit;
    max-width: 100%;
    min-height: inherit;
    display: flex;
    margin: 0px;
    border: none;
    &:disabled {
      background-color: transparent;
      & ~ label {
        color: $color-disabled;
        cursor: default;
      }
    }

    &:focus {
      outline: none;
      & ~ label {
        top: -26px;
        color: $color-primary;
        font-size: calculateEm(10px);
      }
      & ~ .bar {
        &:after {
          width: 100%;
          transition: transform 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
          transform: scaleX(1);
        }
      }
    }
  }
  &.not-empty {
    label {
      top: -26px;
      color: $color-primary;
      font-size: calculateEm(10px);
    }
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: calculateEm(12px);
    transform: translateY(8px);
    transition: 0.2s ease all;
    color: $color-tertiary-dark;
    cursor: pointer;
  }
  .bar {
    width: 100%;
    height: 1px;
    display: block;
    background: $color-tertiary;
    &::after {
      width: 0;
      height: 2px;
      @include pseudo;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color-primary;
      transform: scaleX(0);
    }
  }
  .error {
    color: $color-high;
    font-size: calculateEm(11px);
  }
  .success {
    color: $color-success;
    font-size: calculateEm(11px);
  }
  &.error {
    label {
      color: $color-high;
    }
    .bar {
      background-color: $color-high;
      &::before,
      &::after {
        background-color: $color-high;
      }
    }
  }
  &.success {
    label {
      color: $color-success;
    }
    .bar {
      background-color: $color-success;
      &::before,
      &::after {
        background-color: $color-success;
      }
    }
  }
}
