.article-illustrations {
  .illustrations {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .illustration {
      margin: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      svg {
        width: 90px;
        height: 90px;
      }
    }
  }
}
