.preview-3d {
  background-color: var(--color-silver-light);
  user-select: none;

  .viewport {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;

    pointer-events: none;

    img {
      width: auto;
      height: 100%;
    }
  }
}
