.aside{
  width: 320px;
  height: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: $color-primary;
  overflow-y: auto;
  overflow-x: hidden;
  &__title{
    margin: 0;
    padding: 30px 32px 0;
    color: $color-white;
  }
  &__text{
    padding: 16px 32px;
    color: $color-white;
    li{
      margin: 8px 0px;
      a{
        color: $color-white;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
      }
    }
  }
}