.aside{
  width: 300px;
  height: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: $color-tertiary-lightest;
  overflow-y: auto;
  overflow-x: hidden;
  &__title{
    margin: 0;
    padding: 30px 32px 0;
    color: $color-primary;
  }
  &__text{
    li{
      a{
        padding: 8px 32px;
        display: flex;
        align-items: center;
        color: $color-primary;
        position: relative;
        line-height: 24px;
        text-decoration: none;
        font-size: calculateEm(14px);
        img{
          width: 30px;
          margin-right: $spacing-unit;
        }
        &.router-link-exact-active{
          &:hover{
            &::before{
              background-color: darken($color-primary, 10%);
            }
          }
          &::before{
            background-color: $color-primary;
          }
        }
        &:hover{
          &::before{
            background-color: rgba($color-primary, .6);
          }
        }
        &::before{
          content: "";
          width: 3px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}