// mixin MARGIN & PADDING
$spaceamounts: (6, 12, 18, 24);
$sides: (top, bottom, left, right, all, horizontal, vertical);

@each $space in $spaceamounts {
  @each $side, $value in $sides {
    @if $side == 'all' {
      // global MARGIN & PADDING
      .m-#{$space} {
        margin: #{$space}px;
      }
      .p-#{$space} {
        padding: #{$space}px;
      }
    } @else if ($side == 'horizontal') {
      // horizontal MARGIN & PADDING
      .m-x-#{$space} {
        margin-right: #{$space}px;
        margin-left: #{$space}px;
      }
      .p-x-#{$space} {
        padding-right: #{$space}px;
        padding-left: #{$space}px;
      }
    }
    @else if ($side == 'vertical') {
      // vertical MARGIN & PADDING
      .m-y-#{$space} {
        margin-top: #{$space}px;
        margin-bottom: #{$space}px;
      }
      .p-y-#{$space} {
        padding-top: #{$space}px;
        padding-bottom: #{$space}px;
      }
    } @else {
      // unitary MARGIN & PADDING
      .m-#{str-slice($side, 0, 1)}-#{$space} {
        margin-#{$side}: #{$space}px;
      }
      .p-#{str-slice($side, 0, 1)}-#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}