.icon {
  &-fill {
    &--black {
      fill: var(--color-black);
    }
    &--default {
      fill: currentColor;
    }
    &--disabled {
      fill: var(--color-disabled);
    }
    &--high {
      fill: var(--color-high);
    }
    &--neutral {
      fill: var(--color-neutral);
    }
    &--primary {
      fill: var(--color-primary);
    }
    &--secondary {
      fill: var(--color-secondary);
    }
    &--success {
      fill: var(--color-success);
    }
    &--tertiary {
      fill: var(--color-tertiary);
    }
    &--tertiary-dark {
      fill: var(--color-tertiary-dark);
    }
    &--tertiary-darkest {
      fill: var(--color-tertiary-darkest);
    }
    &--tertiary-lightest {
      fill: var(--color-tertiary-lightest);
    }
    &--warning {
      fill: var(--color-warning);
    }
    &--white {
      fill: var(--color-white);
    }
  }
  &-stroke {
    fill: transparent;
    &--black {
      stroke: var(--color-black);
    }
    &--default {
      stroke: currentColor;
    }
    &--disabled {
      stroke: var(--color-disabled);
    }
    &--high {
      stroke: var(--color-high);
    }
    &--neutral {
      stroke: var(--color-neutral);
    }
    &--primary {
      stroke: var(--color-primary);
    }
    &--secondary {
      stroke: var(--color-secondary);
    }
    &--success {
      stroke: var(--color-success);
    }
    &--tertiary {
      stroke: var(--color-tertiary);
    }
    &--tertiary-dark {
      stroke: var(--color-tertiary-dark);
    }
    &--tertiary-darkest {
      stroke: var(--color-tertiary-darkest);
    }
    &--tertiary-lightest {
      stroke: var(--color-tertiary-lightest);
    }
    &--warning {
      stroke: var(--color-warning);
    }
    &--white {
      stroke: var(--color-white);
    }
  }
}
