@import "../../assets/scss/_BIMDataVariables.scss";
@import "../../assets/scss/utilities/_text.scss";
@import "../../assets/scss/mixins/_font-size.scss";
@import "../../assets/scss/mixins/_pseudo.scss";

.bimdata-tooltip {
  position: relative;

  &__tooltip {
    position: absolute;
    z-index: 2;
    min-width: 60px;
    width: max-content;
    padding: calc(var(--spacing-unit) / 3) calc(var(--spacing-unit) / 2);
    border-radius: 3px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;

    &::before {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 8px 0 0 8px;
    }

    // --- Position styles ---
    &--top {
      top: -8px;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      &::before {
        top: calc(100% - 4px);
        left: calc(50% - 4px);
        transform: rotate(135deg);
      }
    }

    &--right {
      top: 50%;
      left: calc(100% + 8px);
      transform: translateY(-50%);
      &::before {
        top: calc(50% - 4px);
        left: -4px;
        transform: rotate(-135deg);
      }
    }

    &--bottom {
      top: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
      &::before {
        top: -4px;
        left: calc(50% - 4px);
        transform: rotate(-45deg);
      }
    }

    &--left {
      top: 50%;
      left: -8px;
      transform: translateX(-100%) translateY(-50%);
      &::before {
        top: calc(50% - 4px);
        left: calc(100% - 4px);
        transform: rotate(45deg);
      }
    }

    // --- Color styles ---
    &--white {
      background-color: var(--color-white);
      color: var(--color-primary);
      &::before {
        border-color: var(--color-white) transparent transparent;
      }
    }

    &--primary {
      background-color: var(--color-primary);
      color: var(--color-white);
      &::before {
        border-color: var(--color-primary) transparent transparent;
      }
    }

    &--secondary {
      background-color: $color-secondary;
      color: $color-primary;
      &::before {
        border-color: var(--color-secondary) transparent transparent;
      }
    }

    &--granite-light {
      background-color: var(--color-granite-light);
      color: var(--color-white);
      &::before {
        border-color: var(--color-granite-light) transparent transparent;
      }
    }

    &--silver-light {
      background-color: var(--color-silver-light);
      color: var(--color-primary);
      &::before {
        border-color: var(--color-silver-light) transparent transparent;
      }
    }
  }
}
