.navigation {
  height: calc(var(--spacing-unit) * 3);
  position: sticky;
  top: 0;
  z-index: 1;
  margin-left: -90px;
  padding-left: 96px;
  width: calc(100% + 180px);
  border-bottom: 1px solid #e1e3e6;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
}
