.bimdata-ds__properties{
  table{
    tr{
      td{
        &:nth-child(1){
          flex: 1;
        }
        &:nth-child(2){
          flex: 1;
        }
        &:nth-child(3){
          flex: 1;
        }
        &:nth-child(4){
          flex: 2;
        }
      }
    }
  }
}