.home{
  margin-top: 60px;
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  &::after{
    content: "";
    background: linear-gradient(162.76deg, #B6D4FF -9.05%, rgba(248, 248, 249, 0) 108.11%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
  }
  .bimdata-search-bar{
    margin: calc(#{$spacing-unit} * 4) 0;
    background-color: $color-white;
  }
  &-content{
    width: auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    & >>> .bimdata-card{
      &__content{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .bimdata-card{
      margin: 0 calc(#{$spacing-unit} * 2);
      height: 317px;
      max-width: 330px;
      display: flex;
      flex: 1;
      &__content{
        a{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
      h2, p{
        height: 50px;
        display: flex;
        align-items: center;
        color: $color-primary;
        text-align: center;
      }
      img{
        animation-duration: 0.7s;
        animation-name: bounceIn;
      }
      button{
        margin-top: .5rem;
      }
      &:nth-child(2){
        img{
          animation-delay: .15s;
        }
      }
      &:nth-child(3){
        img{
          animation-delay: .3s;
        }
      }
      &:nth-child(4){
        img{
          animation-delay: .45s;
        }
      }
    }
  }
}
