@import "../../../../assets/scss/BIMDataVariables";

.demo-grid {
  width: 100%;
  height: 100%;
}

.demo-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-silver-light);
  color: var(--color-primary);
  font-weight: 700;
}

.demo-parameters {
  margin: calc(var(--spacing-unit) / 2) 0;

  .bimdata-input {
    margin-top: calc(var(--spacing-unit) * 2);
  }
}
