.bimdata-file-manager {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit);
  position: relative;

  &__pdf-viewer {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
  }

  &__header {
    display: flex;
    padding: 0 var(--spacing-unit);

    &--xs {
      flex-direction: column;

      .bimdata-file-manager__header__upload {
        margin: var(--spacing-unit) 0;
      }
    }

    &--s,
    &--m {
      flex-wrap: wrap;
      * {
        flex-shrink: 1;
        flex-basis: calc(50% - (var(--spacing-unit) / 2));
      }
      .bimdata-file-manager__search {
        flex-basis: 100%;
        margin-top: var(--spacing-unit);
      }
      .bimdata-file-manager__header__upload {
        margin-left: var(--spacing-unit);
      }
    }

    &--l {
      .bimdata-file-manager__header__upload {
        margin: 0 var(--spacing-unit);
      }
    }
  }

  &__navigation {
    padding: 0 var(--spacing-unit);
    height: 31px;
    flex-shrink: 0;
    font-weight: bold;
    margin-top: 12px;
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &--empty {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }

  &__pdf-page-selector {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__modal {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      background-color: var(--color-primary);
      opacity: 0.9;
    }
  }

  &__container {
    overflow-y: auto;
    height: 100%;

    &--empty {
      margin: var(--spacing-unit);
      background-color: var(--color-silver-light);
      display: flex;
      justify-content: center;
      align-content: center;
      height: 100%;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: small;
        color: var(--color-granite);
        span {
          margin-top: calc(var(--spacing-unit) * 2);
        }
      }
    }
  }
}
