.spacing-system__padding {
  ::v-deep .bimdata-ds__demo__module {
    grid-column: 1 / 2;
  }
  ::v-deep .bimdata-ds__demo__parameters {
    grid-column: 2 / 4;
  }
  .ds-spacing {
    &__padding {
      background-color: $color-primary;
      color: $color-white;
      text-align: center;
      font-size: calculateEm(12px);
      span {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: 1px dotted $color-tertiary-lightest;
      }
    }
  }
  .flex {
    & > div {
      flex: 1;
    }
  }
  ::v-deep .bimdata-table {
    tr {
      th,
      td {
        flex-grow: 2;
        &:first-child {
          flex-grow: 1;
        }
      }
    }
  }
}
