@import "../../assets/scss/mixins/_font-size.scss";

// custom PAGINATED LIST
.bimdata-paginated-list {
  font-family: var(--primary-font);
  font-size: calculateEm(14px);
  line-height: 1.5;
  overflow: auto;

  &--small {
    height: 100%;
    position: relative;

    .bimdata-paginated-list__elements {
      li {
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: calculateEm(12px);
        &:nth-child(odd) {
          background-color: var(--color-silver-light);
        }
        &:nth-child(even) {
          background-color: var(--color-white);
        }
      }
    }
  }

  &--empty {
    height: auto;
  }

  &__elements {
    li {
      &.active-element {
        font-weight: bold;
      }
    }
  }

  .bimdata-spinner {
    padding: 12px 0;
    justify-content: center;
  }
}
