// custom PAGINATED LIST
.bimdata-paginated-list {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.5;
  overflow: auto;
  &--small {
    height: 100%;
    position: relative;
    .bimdata-paginated-list__elements {
      li {
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        &:nth-child(odd) {
          background-color: var(--color-tertiary-lighten);
        }
        &:nth-child(even) {
          background-color: hsl(
            var(--color-tertiary-h),
            var(--color-tertiary-s),
            92%
          );
        }
      }
    }
  }
  &--empty {
    height: auto;
  }
  .bcf--bucket {
    &__content {
      height: calc(304px - 37px - 4px);
    }
  }
  .bimdata-spinner {
    padding: 12px 0;
    justify-content: center;
  }
}
