// import BIMDATA VARIABLES
@import "../../assets/scss/_BIMDataVariables.scss";
// import BIMDATA UTILITIES
@import "../../assets/scss/mixins/_font-size.scss";
@import "../../assets/scss/utilities/_list.scss";

// custom PAGINATED LIST
.bimdata-paginated-list {
  font-family: $primary-font;
  font-size: calculateEm(14px);
  line-height: 1.5;
  overflow: auto;

  &--small {
    height: 100%;
    position: relative;

    .bimdata-paginated-list__elements {
      li {
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: calculateEm(12px);
        &:nth-child(odd) {
          background-color: $color-tertiary-lightest;
        }
        &:nth-child(even) {
          background-color: darken($color-tertiary-lightest, 5%);
        }
      }
    }
  }

  &--empty {
    height: auto;
  }

  .bimdata-spinner {
    padding: 12px 0;
    justify-content: center;
  }
}
