@import "../../assets/scss/_BIMDataVariables.scss";
@import "../../assets/scss/_BIMDataTransitions.scss";
@import "../../assets/scss/elements/_BIMDataSubmenus.scss";

.bimdata-dropdown-list {
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &__content {
    padding: 0 $spacing-unit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    background-color: $color-tertiary-lightest;
    border: 1px solid $color-tertiary;
    border-radius: 3px;
    cursor: pointer;

    .bimdata-btn {
      background-color: $color-tertiary-lightest;
    }

    &.active {
      background-color: $color-white;
      border: 1px solid transparent;
      box-shadow: 0 2px 10px 0 rgba($color-black, 0.1);
      .bimdata-btn {
        svg {
          transform: rotate(90deg);
        }
      }
    }

    &.disabled {
      cursor: default;
      color: $color-disabled;
      .bimdata-btn {
        cursor: default;
        color: $color-disabled;
      }
    }
  }

  &[direction*="up"] {
    .bimdata-dropdown-list__content {
      &.active {
        .bimdata-btn {
          svg {
            transform: rotate(-90deg);
          }
        }
      }
    }
  }

  &[direction*="right"],
  &[direction*="left"] {
    .bimdata-dropdown-list__content {
      &.active {
        .bimdata-btn {
          svg {
            transform: none;
          }
        }
      }
    }
  }

  .bimdata-paginated-list {
    &__elements {
      font-size: 11px;
    }

    & > ul:first-child {
      padding: calc(12px / 2) 0;
      overflow: auto;
      z-index: 1;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
