@import "../../assets/css/elements/_submenu.css";

.bimdata-dropdown-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  .bimdata-dropdown-list__content {
    padding: 0 var(--spacing-unit);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    background-color: var(--color-silver-light);
    border: 1px solid var(--color-silver);
    border-radius: 3px;
    cursor: pointer;

    .bimdata-btn {
      background-color: var(--color-white);
    }

    &.active {
      background-color: var(--color-white);
      border: 1px solid transparent;
      box-shadow: var(--box-shadow);
      .bimdata-btn {
        background-color: var(--color-silver-light);
      }
    }

    &.disabled {
      cursor: default;
      color: var(--color-silver-dark);
      .bimdata-btn {
        cursor: default;
        color: var(--color-silver-dark);
      }
    }
  }

  &::v-deep .bimdata-paginated-list {
    .bimdata-paginated-list__elements {
      font-size: 11px;
    }

    & > ul:first-child {
      padding: calc(12px / 2) 0;
      overflow: auto;
      z-index: 1;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
