.article-spacing {
  &__code {
    display: flex;
    justify-content: space-between;
    &__item {
      margin-right: $spacing-unit;
      flex: 1;
      pre {
        margin-bottom: 0;
      }
    }
  }
  #spacing-system,
  #margin,
  #padding {
    padding-top: 40px;
  }
}
