// custom SVG
// style bimdata fill & stroke - DEFAULT
.bimdata-fill-default{
  fill: $color-grey;
}
.bimdata-stroke-default{
  stroke: $color-grey;
}

// style bimdata fill & stroke - PRIMARY
.bimdata-fill-primary{
  fill: $color-primary;
}
.bimdata-stroke-primary{
  stroke: $color-primary;
}

// style bimdata fill & stroke - SECONDARY
.bimdata-fill-secondary{
  fill: $color-secondary;
}
.bimdata-stroke-secondary{
  stroke: $color-secondary;
}

// style bimdata fill & stroke - GREY
.bimdata-fill-grey{
  fill: $color-background-d20;
}
.bimdata-stroke-grey{
  stroke: $color-background-d20;
}

// style bimdata fill & stroke - WHITE
.bimdata-fill-white{
  fill: $color-white;
}
.bimdata-stroke-white{
  stroke: $color-white;
}

// style bimdata fill & stroke - BORDER
.bimdata-fill-border{
  fill: $color-border;
}
.bimdata-stroke-border{
  stroke: $color-border;
}

// style bimdata fill & stroke - TEXT
.bimdata-fill-text{
  fill: $color-text;
}
.bimdata-stroke-text{
  stroke: $color-text;
}

// style bimdata fill & stroke - RED
.bimdata-fill-red{
  fill: $color-red;
}
.bimdata-stroke-red{
  stroke: $color-red;
}

.icon-chevron {
  transition: all 0.1s linear;
}

// custom CHEVRON - TREE
.icon-chevron.expanded {
  transform: rotate(90deg);
  transition: all 0.1s linear;
}
