@import "../../assets/scss/_BIMDataVariables.scss";

.bimdata-textbox {
  display: inline-flex;
  position: relative;

  &__text {
    &--head {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &--tail {
      width: 48%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: "";
      direction: rtl;
    }
  }

  &__tooltip {
    position: absolute;
    z-index: 2;
    min-width: 60px;
    max-width: 200px;
    width: max-content;
    padding: $spacing-unit/3 $spacing-unit/2;
    border-radius: 3px;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;

    &::before {
      content: "";
      position: absolute;
      border-style: solid;
      border-width: 8px 0 0 8px;
    }

    &--primary {
      background-color: $color-primary;
      color: $color-white;
      &::before {
        border-color: $color-primary transparent transparent;
      }
    }

    &--secondary {
      background-color: $color-secondary;
      color: $color-primary;
      &::before {
        border-color: $color-secondary transparent transparent;
      }
    }

    &--tertiary {
      background-color: $color-tertiary-dark;
      color: $color-white;
      &::before {
        border-color: $color-tertiary-dark transparent transparent;
      }
    }

    &--tertiary-lightest {
      background-color: $color-tertiary-lightest;
      color: $color-primary;
      &::before {
        border-color: $color-tertiary-lightest transparent transparent;
      }
    }

    &--top {
      top: -8px;
      left: 50%;
      transform: translateX(-50%) translateY(-100%);
      &::before {
        top: calc(100% - 4px);
        left: calc(50% - 4px);
        transform: rotate(135deg);
      }
    }

    &--right {
      top: 50%;
      left: calc(100% + 8px);
      transform: translateY(-50%);
      &::before {
        top: calc(50% - 4px);
        left: -4px;
        transform: rotate(-135deg);
      }
    }

    &--bottom {
      top: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
      &::before {
        top: -4px;
        left: calc(50% - 4px);
        transform: rotate(-45deg);
      }
    }

    &--left {
      top: 50%;
      left: -8px;
      transform: translateX(-100%) translateY(-50%);
      &::before {
        top: calc(50% - 4px);
        left: calc(100% - 4px);
        transform: rotate(45deg);
      }
    }
  }
}
