.column-filters {
  width: max-content;
  min-width: 100%;
  max-width: 150%;
  word-break: break-all;
  display: grid;
  position: absolute;
  left: 0;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  gap: calc(var(--spacing-unit) / 2);
  border-radius: calc(var(--spacing-unit) / 2);
  z-index: 1;
  .bimdata-checkbox {
    font-weight: 400;
    align-items: flex-start;
    text-align: left;
  }
}
