.safe-zone-inline {
  display: flex;
  gap: 9px;
  padding: 6px 9px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  
  &__btn-delete {
    width: 90px;
  }

  &__btn-close {
    padding: 0 8px;
  }
}
