.safe-zone-inline {
  display: flex;
  gap: 9px;
  padding: 6px 9px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  
  & .safe-zone-inline__btn-delete {
    width: 90px;
  }

  & .safe-zone-inline__btn-close {
    padding: 0 8px;
  }
}
