.content {
  h1::first-letter {
    text-transform: capitalize;
  }
  &-box {
    display: flex;
    flex-wrap: wrap;
    .bimdata-card {
      margin: 18px 18px 0 0;
      max-width: 266px;
      min-height: 250px;
      display: inline-flex;
      flex-grow: 1;
      box-shadow: var(--box-shadow);
      transition: all ease 0.1s;
      ::v-deep &__content {
        width: 100%;
        a {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h5,
          p {
            color: var(--color-primary);
          }
          p {
            height: 60px;
            display: flex;
            align-items: center;
            line-height: 1.5em;
            text-align: center;
          }
          button {
            margin: 0.5em 0;
            svg {
              margin-left: var(--spacing-unit);
            }
          }
        }
      }
      &.bimdata-card__secondary {
        background-color: var(--color-secondary);
        h5,
        p {
          color: var(--color-primary);
        }
      }
      &:hover {
        box-shadow: var(--box-shadow);
        transition: all ease 0.1s;
      }
    }
  }
}
