.content {
  h1::first-letter {
    text-transform: capitalize;
  }
  &-box {
    display: flex;
    flex-wrap: wrap;
    .bimdata-card {
      margin: 18px 18px 0 0;
      max-width: 266px;
      min-height: 250px;
      display: inline-flex;
      flex-grow: 1;
      box-shadow: 0 2px 10px 0 rgba($color-black, 0.1);
      transition: all ease 0.1s;
      &__content {
        a {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h5,
          p {
            color: $color-primary;
          }
          p {
            height: 60px;
            display: flex;
            align-items: center;
            line-height: 1.5em;
            text-align: center;
          }
          button {
            margin: 0.5rem 0;
            svg {
              margin-left: $spacing-unit;
            }
          }
        }
      }
      &.bimdata-card__primary {
        background-color: $color-primary;
        h5,
        p {
          color: $color-white;
        }
      }
      &:hover {
        box-shadow: 0 2px 10px 0 rgba($color-black, 0.2);
        transition: all ease 0.1s;
      }
    }
  }
}
