.content {
  h1::first-letter {
    text-transform: capitalize;
  }
  &-box {
    .bimdata-card {
      height: 260px;
      min-height: 260px;
      display: inline-flex;
      flex: 0;
      box-shadow: var(--box-shadow);
      transition: all ease 0.1s;
      ::v-deep &__content {
        width: 100%;
        a {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          gap: 0 18px;
          h5,
          p {
            color: var(--color-primary);
          }
          p {
            height: 70px;
            display: flex;
            align-items: center;
            line-height: 1.5em;
            text-align: center;
          }
          button {
            svg {
              margin-left: var(--spacing-unit);
            }
          }
        }
      }
      &.bimdata-card__secondary {
        background-color: var(--color-secondary);
        h5,
        p {
          color: var(--color-primary);
        }
      }
      &.getting-started__card {
        width: 100%;
        height: auto;
        min-height: 80px;
        a {
          flex-direction: inherit;
          align-items: center;
          justify-content: space-between;
        }
        p {
          height: auto;
        }
      }
      &:hover {
        box-shadow: var(--box-shadow);
        transition: all ease 0.1s;
      }
      &:nth-child(6n) {
        margin-right: 0;
      }
    }
  }
}
