.aside {
  width: 300px;
  height: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--color-silver-light);
  overflow-y: auto;
  overflow-x: hidden;
  h4 {
    &::first-letter {
      text-transform: uppercase;
    }
  }
  &__text {
    li {
      a {
        padding: 8px 24px;
        display: flex;
        align-items: center;
        color: var(--color-primary);
        position: relative;
        line-height: 24px;
        text-decoration: none;
        font-size: 14px;
        transition: all ease 0.2s;

        img {
          width: 30px;
          margin-right: var(--spacing-unit);
        }
        &.router-link-exact-active {
          background-color: var(--color-white);
          transition: all ease 0.2s;

          &:hover {
            &::before {
              background-color: var(--color-primary-light);
              transition: all ease 0.2s;
            }
          }
          &::before {
            background-color: var(--color-primary);
            transition: all ease 0.2s;
          }
        }
        &:hover {
          background-color: rgb(240, 240, 240);
          transition: all ease 0.2s;
        }
        &::before {
          content: "";
          width: 3px;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
