.bimdata-slider {
  position: relative;
  .bimdata-slider-input {
    &::-webkit-slider-runnable-track {
      height: 3px;
      background: linear-gradient(
          to right,
          var(--color-primary),
          var(--color-primary)
        ),
        var(--color-silver);
      background-size: var(--background-size, 0%) 100%;
      background-repeat: no-repeat;
      border-radius: 5px;
    }
    &::-webkit-slider-thumb {
      width: 15px;
      height: 15px;
      cursor: pointer;
      background: var(--color-primary);
      border: solid var(--color-white) 1px;
      border-radius: 50%;
      margin-top: -6px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    }
    &::-moz-range-progress {
      background-color: var(--color-primary);
      border-radius: 5px;
    }
    &::-moz-range-track {
      background-color: var(--color-silver);
      border-radius: 5px;
    }
    &::-moz-range-thumb {
      width: 15px;
      height: 15px;
      cursor: pointer;
      background: var(--color-primary);
      border: solid var(--color-white) 1px;
      border-radius: 50%;
      margin-top: -6px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    }
  }
  &:hover {
    .bimdata-slider-tooltip {
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }
  }
  &-tooltip {
    background: var(--color-primary);
    color: var(--color-white);
    padding: calc(var(--spacing-unit) / 2);
    position: absolute;
    border-radius: 4px;
    bottom: calc(var(--spacing-unit) * 3);
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    &::after {
      border: 5px solid transparent;
      border-top-color: var(--color-primary);
      bottom: 5px * -2;
      content: "";
      height: 0;
      left: 50%;
      position: absolute;
      transform: translate(-50%);
      width: 0;
    }
  }
  .bimdata-slider-input,
  .bimdata-slider-input::-webkit-slider-runnable-track,
  .bimdata-slider-input::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
  }
}
