.colors {
  .bimdata-ds__code {
    width: 54.5%;
  }
  .color-swatches {
    display: flex;
    .color-swatche {
      margin: 12px 24px 12px 0;
      flex-basis: 17%;
      box-shadow: 0 2px 10px 0 rgba($color-black, 0.1);
      overflow: hidden;
      &__header,
      &__body {
        &__item {
          .label {
            font-size: calculateEm(9px);
            line-height: 16px;
            text-transform: uppercase;
          }
          .value {
            font-size: calculateEm(11px);
            display: flex;
            justify-content: space-between;
            cursor: pointer;
          }
        }
      }
      &__header {
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: self-start;
        background-color: $color-primary;
        &__item {
          padding: 6px 12px;
          .label {
            opacity: 0.5;
          }
        }
      }
      &__body {
        padding: 6px 12px;
        background-color: #fcfcfc;
        &__item {
          padding: calc(#{$spacing-unit} / 2) 0;
          .label {
            color: rgba($color-primary, 0.6);
          }
          .value {
            position: relative;
            color: $color-primary;
            .bimdata-btn {
              position: absolute;
              right: 0;
              bottom: 0;
            }
          }
        }
      }
    }
  }
  .state-colors {
    background: linear-gradient(rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 1));
  }
  .background-utilities-colors,
  .text-utilities-colors {
    background-color: $color-white;
  }
}
