.colors-animations {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(
      closest-side,
      rgba(255, 255, 255, 0.94),
      rgba(255, 255, 255, 0.94),
      rgba(255, 255, 255, 1)
    ),
    url("../../../assets/img/grid.svg");
  background-repeat: no-repeat, repeat;
  background-size: auto, 75px 44px;
  position: fixed;
  top: 25%;
  left: 65%;
  right: 0;
  width: 994px;
  height: 720px;
  z-index: -1;
  &__box {
    width: 140px;
    height: 140px;
    position: absolute;
    transform: rotateX(55deg) rotateZ(45deg);
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  &__box1 {
    &::after {
      top: 0;
      left: 0;
      animation: transform1 4s ease, color1 4s ease;
      box-shadow: 1px 1px 0 var(--color-primary-600),
        2px 2px 0 var(--color-primary-600), 3px 3px 0 var(--color-primary-600),
        4px 4px 0 var(--color-primary-600), 5px 5px 0 var(--color-primary-600);
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  &__box2 {
    &::after {
      top: -10%;
      left: -10%;
      animation: transform2 4s ease, color2 4s ease;
      box-shadow: 1px 1px 0 var(--color-secondary-600),
        2px 2px 0 var(--color-secondary-600),
        3px 3px 0 var(--color-secondary-600),
        4px 4px 0 var(--color-secondary-600),
        5px 5px 0 var(--color-secondary-600);
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
  &__box3 {
    &::after {
      top: -20%;
      left: -20%;
      animation: transform3 4s ease, color3 4s ease;
      box-shadow: 1px 1px 0 var(--color-tertiary-600),
        2px 2px 0 var(--color-tertiary-600), 3px 3px 0 var(--color-tertiary-600),
        4px 4px 0 var(--color-tertiary-600), 5px 5px 0 var(--color-tertiary-600);
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}
