.designers,
.developpers,
.internal-doc {
  .article-wrapper {
    max-width: 45em;
    pre.language-bash {
      &::before {
        content: "$";
        position: absolute;
        top: 20px;
        left: 6px;
      }
    }
  }
}
