.bimdata-btn {
  padding: 0 var(--spacing-unit);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
  font-family: var(--primary-font);
  font-size: 12px;
  transition: all 0.1s ease;
  &:hover {
    transition: all 0.25s ease-in;
  }
  &:focus {
    outline: none;
  }
  &__icon {
    padding: 0;
  }
  /* style BIMDATA BTN RADIUS ------------------ */
  &__radius {
    border-radius: 3px;
  }
  &__square {
    border-radius: 0;
  }
  &__rounded {
    border-radius: 50%;
  }
  /* style BIMDATA BTN FILL -------------------- */
  &__fill {
    background-color: var(--color-white);
    justify-content: center;
    /* style BIMDATA BTN DEFAULT FILL ---------- */
    &--default {
      box-shadow: var(--box-shadow);
      &:hover {
        background-color: var(--color-tertiary-lightest);
      }
    }
    /* style BIMDATA BTN PRIMARY FILL ---------- */
    &--primary {
      background-color: var(--color-primary);
      color: var(--color-white);
      &:hover {
        background-color: lightness(var(--color-primary), 1.2);
      }
    }
    /* style BIMDATA BTN SECONDARY FILL ---------- */
    &--secondary {
      background-color: var(--color-secondary);
      color: var(--color-primary);
      &:hover {
        background-color: lightness(var(--color-secondary), 1.2);
      }
    }
    /* style BIMDATA BTN GREY FILL ------------- */
    &--tertiary-darkest {
      background-color: var(--color-tertiary-dark);
      color: var(--color-white);
      &:hover {
        background-color: lightness(var(--color-tertiary-dark), 1.2);
      }
    }
    /* style BIMDATA BTN RED FILL ------------- */
    &--high {
      background-color: var(--color-high);
      color: var(--color-white);
      &:hover {
        background: lightness(var(--color-high), 1.1);
      }
    }
    /* style BIMDATA BTN FILL BTN ICON --------- */
    &--btn-icon {
      svg {
        margin: 0 6px;
      }
    }
    &:disabled {
      background-color: var(--color-disabled);
      color: var(--color-white);
      cursor: auto;
    }
  }
  &__ripple {
    background-position: center;
    transition: background 0.8s;
    &--default {
      background-color: transparent;
      color: var(--color-primary);
      &:hover {
        background: transparent
          radial-gradient(
            circle,
            transparent 1%,
            var(--color-tertiary-lightest) 1%
          )
          center/15000%;
      }
      &:active {
        background-color: var(--color-tertiary-lightest);
        background-size: 100%;
        transition: background 0s;
      }
    }
    &--primary {
      background-color: var(--color-primary);
      color: var(--color-white);
      &:hover {
        background: var(--color-primary)
          radial-gradient(circle, transparent 1%, var(--color-primary) 1%)
          center/15000%;
      }
      &:active {
        background-color: lightness(var(--color-primary), 1.8);
        background-size: 100%;
        transition: background 0s;
      }
    }
    &--secondary {
      background-color: var(--color-secondary);
      color: var(--color-primary);
      &:hover {
        background: var(--color-secondary)
          radial-gradient(circle, transparent 1%, var(--color-secondary) 1%)
          center/15000%;
      }
      &:active {
        background-color: lightness(var(--color-secondary), 1.2);
        background-size: 100%;
        transition: background 0s;
      }
    }
    &--tertiary-darkest {
      background-color: var(--color-tertiary-darkest);
      color: var(--color-white);
      &:hover {
        background: var(--color-tertiary-darkest)
          radial-gradient(
            circle,
            transparent 1%,
            var(--color-tertiary-darkest) 1%
          )
          center/15000%;
      }
      &:active {
        background-color: var(--color-tertiary-dark);
        background-size: 100%;
        transition: background 0s;
      }
    }
    &--high {
      background-color: var(--color-high);
      color: var(--color-white);
      &:hover {
        background: var(--color-high)
          radial-gradient(circle, transparent 1%, var(--color-high) 1%)
          center/15000%;
      }
      &:active {
        background-color: lightness(var(--color-high), 1.2);
        background-size: 100%;
        transition: background 0s;
      }
    }
  }
  &__outline {
    justify-content: center;
    border: 1px solid;
    &--default {
      border-color: var(--color-tertiary);
      color: var(--color-primary);
      &:hover {
        background-color: var(--color-tertiary-lightest);
      }
    }
    &--primary {
      border-color: var(--color-primary);
      color: var(--color-primary);
      &:hover {
        background-color: alpha(var(--color-primary), 4%);
      }
    }
    &--secondary {
      border-color: var(--color-secondary);
      color: var(--color-primary);
      &:hover {
        background-color: alpha(var(--color-secondary), 6%);
      }
    }
    &--tertiary-darkest {
      border-color: var(--color-tertiary-dark);
      color: var(--color-tertiary-dark);
      &:hover {
        background-color: var(--color-tertiary-lightest);
      }
    }
    &--high {
      border-color: var(--color-high);
      color: var(--color-high);
      &:hover {
        background-color: alpha(var(--color-high), 6%);
      }
    }
    &:disabled {
      border-color: var(--color-disabled);
      color: var(--color-disabled);
      cursor: auto;
    }
  }
  &__ghost {
    justify-content: center;
    svg {
      display: flex;
      align-items: center;
    }
    &--default {
      color: var(--color-primary);
      &:hover {
        background-color: var(--color-tertiary-lightest);
      }
    }
    &--primary {
      color: var(--color-primary);
      &:hover {
        background-color: lightness(var(--color-primary), 4);
      }
    }
    &--secondary {
      color: var(--color-secondary);
      &:hover {
        background-color: lightness(var(--color-secondary), 1.7);
      }
    }
    &--tertiary-darkest {
      color: var(--color-tertiary-dark);
      &:hover {
        background-color: var(--color-tertiary-lightest);
      }
    }
    &--high {
      color: var(--color-high);
      &:hover {
        background-color: lightness(var(--color-high), 1.75);
      }
    }
    &:disabled {
      color: var(--color-disabled);
      cursor: auto;
    }
  }
}
