.bimdata-graph {
  position: relative;
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash var(--graph-draw-time, 2s) ease-in forwards;
  }
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
}
