.typography {
  /* custom FONT SIZE */
  &-size {
    &__content {
      &__item {
        margin-bottom: calc(var(--spacing-unit) * 2);
      }
    }
  }
  /* custom FONT WEIGHT */
  &-weight {
    &__content {
      display: flex;
      justify-content: space-between;
      &__item {
        margin-right: 12px;
        flex: 1;
        &:nth-child(1) {
          p {
            font-family: var(--primary-font);
          }
        }
        &:nth-child(2) {
          p {
            font-weight: medium;
          }
        }
        &:nth-child(3) {
          p {
            font-weight: bold;
          }
        }
      }
    }
  }
}
