.spacing-system__margin {
  ::v-deep .bimdata-ds__demo__module {
    grid-column: 1 / 2;
  }
  ::v-deep .bimdata-ds__demo__parameters {
    grid-column: 2 / 4;
    .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
  }
  .ds-spacing {
    display: inline-flex;
    outline: 1px dotted var(--color-tertiary-dark);
    span {
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--color-primary);
      color: var(--color-white);
      text-align: center;
      font-size: calculateEm(12px);
    }
  }
  .flex {
    & > div {
      flex: 1;
    }
  }
  ::v-deep .bimdata-table {
    tr {
      th,
      td {
        flex-grow: 2;
        &:first-child {
          flex-grow: 1;
        }
      }
    }
  }
}
