/* custom SCROLLBAR ------------------------ */
.bimdata-scrollbar {
  /* width */
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--color-silver);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    height: 48px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-granite-light);
  }
}
