/* custom GLOBAL SUBMENU
  ---------------------------------------------------------- */
.submenu {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  &--header {
    width: 100%;
    ul {
      width: 100%;
      position: absolute;
      bottom: 2px;
      right: 0;
      background-color: var(--color-white);
      border-radius: 3px;
      box-shadow: var(--box-shadow);
      li {
        padding: calc(var(--spacing-unit) / 2);
      }
    }
  }
  &--up,
  &--down,
  &--right,
  &--left {
    padding: calc(var(--spacing-unit) / 2) 0;
    width: 100%;
    left: 0;
    border-radius: 3px;
    z-index: 2;
    li {
      padding: calc(var(--spacing-unit) / 2);
      cursor: pointer;
      &:hover {
        background-color: var(--color-tertiary-lightest);
      }
      &.disabled {
        cursor: inherit;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  &--up {
    top: auto;
    bottom: calc(100% + calc(var(--spacing-unit)) / 2);
  }
  // custom SUBMENU MODEL
  &--down {
    top: calc(100% + calc(var(--spacing-unit)) / 2);
  }
  // custom SUBMENU TOOLS MENU
  &--right {
    left: calc(100% + calc(var(--spacing-unit)) / 2);
    right: auto;
    &__simple {
      padding: var(--spacing-unit);
      width: 187px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: calc(100% + var(--spacing-unit));
      top: 0;
    }
    &__panel {
      width: 400px;
      height: calc(var(--plugin-units-height) - (2 * 12px));
      left: calc(100% + var(--spacing-unit));
      z-index: 1;
    }
    &__free {
      left: calc(100% + var(--spacing-unit));
      z-index: 1;
    }
  }
  // custom SUBMENU PLUGIN MENU
  &--left {
    right: calc(100% + calc(var(--spacing-unit)) / 2);
    left: auto;
    &__panel {
      width: 400px;
      height: calc(var(--plugin-units-height) - (2 * 12px));
      right: calc(100% + var(--spacing-unit));
      z-index: 1;
    }
    &__free {
      right: calc(100% + var(--spacing-unit));
      z-index: 1;
    }
    &__simple {
      padding: var(--spacing-unit);
      width: 187px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      right: calc(100% + var(--spacing-unit));
      top: 0;
    }
  }
  &__header {
    padding: 0 var(--spacing-unit);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    &--left {
      display: flex;
      align-items: center;
      position: relative;
    }
    &__menu {
      height: 20px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
    }
    &__submenu {
      width: 184px;
      position: absolute;
      background-color: var(--color-white);
      box-shadow: 0 2px 10px 0 rgba(var(--color-black), 0.12);
      top: 22px;
      left: 0;
      border-radius: 3px;
      z-index: 1;
      ul {
        padding: calc(var(--spacing-unit) / 2) 0;
        li {
          padding: calc(var(--spacing-unit) / 2);
          background-color: var(--color-white);
          cursor: pointer;
          font-size: calculateEm(12px);
          display: flex;
          align-items: center;
          svg {
            margin-right: var(--spacing-unit);
          }
          &:hover {
            background-color: var(--color-tertiary-lightest);
          }
        }
      }
    }
    &__name {
      margin-left: 12px;
    }
  }
}
