.article-buttons{
  .bimdata-ds__properties{
    margin-top: 3rem;
    table{
      width: 100%;
    }
  }
  & /deep/ .bimdata-table{
    &:first-child{
      th:last-child, td:last-child{
        flex-grow: 2;
      }
    }
  }
}