.color-selector {
  & .color-selector__line {
    display: flex;
    & .color-selector__line__element {
      cursor: pointer;
      height: 30px;
      width: 30px;
      margin: 4px;
      border-radius: 3px;
      &.selected {
        border: solid 2px var(--color-primary);
      }
    }
  }
  &.dark {
    background-color: var(--color-quaternary);
    & .color-selector__line__element {
      &.selected {
        border: solid 2px var(--color-white);
      }
    }
  }
}
