// import BIMDATA VARIABLES
@import "../../assets/scss/_BIMDataVariables.scss";
// import BIMDATA UTILITIES
@import "../../assets/scss/utilities/_list.scss";

.bimdata-navigation {
  display: inline-flex;
  width: 100%;
  height: 38px;
  justify-content: center;
  align-items: center;
  background-color: $color-white;

  &__item {
    padding: 6px 2px;

    .bimdata-btn {
      padding: 0;
      justify-content: center;
    }

    &.active {
      .bimdata-btn {
        font-weight: bold;
      }
    }
  }

  &__left,
  &__right {
    padding: 6px 2px;
    font-size: 10px;
  }
}
