.bimdata-navigation {
  display: inline-flex;
  width: 100%;
  height: 38px;
  justify-content: center;
  align-items: center;
  background-color: $color-white;
  &__item {
    .bimdata-btn {
      justify-content: center;
      &:disabled {
        background-color: transparent;
        svg {
          .st0 {
            fill: $color-disabled;
          }
        }
      }
    }
    &.active {
      .bimdata-btn {
        font-weight: bold;
      }
    }
  }
}