.bimdata-navigation {
  display: inline-flex;
  width: 100%;
  height: 38px;
  justify-content: center;
  align-items: center;
  .bimdata-navigation__item {
    padding: 6px 2px;

    .bimdata-btn {
      padding: 0;
      justify-content: center;
    }

    &.active {
      .bimdata-btn {
        font-weight: 700;
      }
    }
  }

  .bimdata-navigation__left,
  .bimdata-navigation__right {
    padding: 6px 2px;
    font-size: 10px;
    cursor: default;
  }

  &.dark {
    
  }
}
