html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "robotoregular";
  color: $color-primary;
  display: flex;
  overflow: hidden;
  // font-size: calculateEm(14px);
}
.bimdata-ds {
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.layout {
  margin-top: 60px;
  display: flex;
  overflow-y: auto;
}

/* custom PRE */
pre[class*="language-"]{
  padding: 0;
  position: relative;
  border-radius: 3px;
  code{
    padding: 20px;
    display: block;
    overflow: auto;
  }
  &:hover{
    .clipboard{
      opacity: .5;
      transition: all .2s ease;
    }
  }
  .clipboard{
    &:hover{
      opacity: 1;
      transition: all .2s ease;
    }
  }
}

/* custom HIGHLIGHT */
.code-highlight{
  background-color: $color-tertiary-lightest;
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  color: #2f374a;
  font-weight: bold;
}

/* custom CLIPBOARD ICON */
.clipboard {
  margin-left: $spacing-unit;
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1.5px solid;
  border-radius: 2px;
  &::after, &::before{
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 2px;
    width: 10px;
    left: 1px;
  }
  &::before{
    border: 2px solid;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    top: -2px;
    height: 6px;
  }
  &::after {
    height: 1px;
    background: currentColor;
    box-shadow: 0 -3px 0 0;
    bottom: 3px;
  }
}