.aside{
  width: 320px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  background-color: $color-primary;
  overflow-y: auto;
  overflow-x: hidden;
  &-title{
    margin-bottom: 0;
    padding: 16px 32px 0;
    color: $color-white;
  }
  &-text{
    padding: 16px 32px;
    color: $color-white;
    li{
      margin: 8px 0px;
      a{
        color: $color-white;
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
      }
    }
  }
}