// import BIMDATA MIXINS
@import "../../assets/scss/mixins/_font-size.scss";
@import "../../assets/scss/mixins/_pseudo.scss";
.bimdata-tabs {
  position: relative;
  display: flex;
  align-items: center;

  .bimdata-btn {
    padding: 0;
    &:disabled {
      svg {
        fill: var(--color-silver);
      }
    }
  }

  &__container {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;

    &__tab {
      box-sizing: border-box;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 calc(var(--spacing-unit) / 2);
      text-align: center;
      color: var(--color-granite);
      cursor: pointer;

      &.active {
        z-index: 1;
        border-bottom: 2px solid var(--color-primary);
        background-color: var(--color-silver-light);
        color: var(--color-primary);
      }
    }
  }
}
