.bimdata-tabs {
  position: relative;
  display: flex;
  align-items: center;

  .bimdata-btn {
    padding: 0;
    &:disabled {
      svg {
        fill: var(--color-tertiary);
      }
    }
  }

  &__container {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;

    &__tab {
      box-sizing: border-box;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 var(--spacing-unit) / 2;
      text-align: center;
      color: var(--color-tertiary-darkest);
      cursor: pointer;

      &.active {
        z-index: 1;
        border-bottom: 2px solid var(--color-primary);
        background-color: var(--color-tertiary-lighten);
        color: var(--color-primary);
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: var(--color-tertiary-lighten);
      }
    }
  }
}
