.bimdata-tabs {
  position: relative;
  display: flex;
  align-items: center;

  .bimdata-btn {
    padding: 0;
    &:disabled {
      svg {
        fill: var(--color-silver);
      }
    }
  }

  & .bimdata-tabs__container {
    position: relative;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    border-radius: 50px;

    & .bimdata-tabs__container__tab {
      padding: 0;
      box-sizing: border-box;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      color: var(--color-granite);
      cursor: pointer;
      border-radius: 50px;

      &.active {
        z-index: 1;
        background-color: var(--color-tertiary-lighter);
        color: var(--color-primary);
      }
    }
    &.dark {
      background-color: var(--color-quaternary);
      & .bimdata-tabs__container__tab {
        color: var(--color-quaternary-lighter);
        &.active {
          background-color: var(--color-tertiary);
          color: var(--color-white);
          font-weight: bold;
        }
      }
    }
  }

}
