html,
body,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--primary-font);
  color: var(--color-primary);
  display: flex;
  overflow: hidden;
}
.bimdata-ds {
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.layout {
  margin-top: 60px;
  display: flex;
  overflow-y: auto;
}

/* custom PRE */
pre[class*="language-"] {
  padding: 0;
  position: relative;
  code {
    padding: 20px;
    display: block;
    overflow: auto;
  }
  .bimdata-btn {
    position: absolute;
    top: calc(var(--spacing-unit) / 2);
    right: calc(var(--spacing-unit) / 2);
    cursor: pointer;
    &__fill--secondary {
      border: none;
      color: var(--color-primary);
      background-color: var(--color-secondary);
      border-radius: 3px;
      font-size: 11px;
      line-height: 18px;
      transition: all 0.25s ease-in;
      &:hover {
        background-color: hsl(45, 94.5, 57.5 * 0.8);
        transition: all 0.25s ease-in;
      }
    }
  }
}

.article {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  .article-wrapper {
    margin: 30px 90px;
    width: 100%;
    width: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    h1,
    h2 {
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}

/* custom HIGHLIGHT */
.code-highlight {
  background-color: var(--color-silver-light);
  padding: 3px 5px;
  margin: 0 2px;
  border-radius: 2px;
  color: var(--color-primary);
  font-weight: 700;
}
