.bimdata-radio {
  position: relative;
  display: block;
  color: $color-primary;
  line-height: 1.5;
  font-size: calculateEm(12px);
  // custom INPUT
  & > input {
    margin: 0;
    width: 23px;
    height: 23px;
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 50%;
    background-color: rgba($color-primary, 0.6);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
    appearance: none;
    z-index: -1;
    // custom CHECKED
    &:checked {
      background-color: rgba($color-primary, 0.4);
      & + span {
        &::before {
          border-color: $color-primary;
        }
        &::after {
          transform: translate(5px, 5px) scale(1);
        }
      }
    }
    // custom ACTIVE
    &:active {
      opacity: 1;
      transform: scale(0);
      transition: transform 0s, opacity 0s;
      & + span::before {
        border-color: $color-primary;
      }
    }
  }
  // custom SPAN
  & > span {
    padding-left: 23px;
    display: flex;
    align-items: center;
    cursor: pointer;
    &::before,
    &::after {
      @include pseudo;
      border-radius: 50%;
      transition: all 0.2s ease;
    }
    &::after, &::before{
      box-sizing: border-box;
    }
    // custom CIRCLE
    &::before {
      border: 1px solid rgba($color-primary, 0.6);
      width: 13px;
      height: 13px;
      top: 3px;
      left: 3px;
    }
    // custom CHECK
    &::after {
      width: 7px;
      height: 7px;
      top: 1px;
      left: 1px;
      background-color: $color-primary;
      transform: translate(5px, 5px) scale(0);
    }
  }
  &:hover {
    & > input {
      &:focus {
        opacity: 0.2;
      }
    }
  }
}
