.bimdata-radio {
  position: relative;
  display: block;
  color: var(--color-primary);
  line-height: 1.5;
  font-family: var(--primary-font);
  // custom INPUT
  & > input {
    margin: 0;
    width: 23px;
    height: 23px;
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: 50%;
    background-color: hsl(var(--color-primary-h), var(--color-primary-s), 54%);
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
    appearance: none;
    z-index: -1;
    // custom CHECKED
    &:checked {
      background-color: hsl(
        var(--color-primary-h),
        var(--color-primary-s),
        70%
      );
      & + span {
        &::before {
          border-color: var(--color-primary);
        }
        &::after {
          transform: translate(5px, 5px) scale(1);
        }
      }
    }
    // custom ACTIVE
    &:active {
      opacity: 1;
      transform: scale(0);
      transition: transform 0s, opacity 0s;
      & + span::before {
        border-color: var(--color-primary);
      }
    }
  }
  // custom SPAN
  & > span {
    padding-left: 23px;
    display: flex;
    align-items: center;
    font-size: calculateEm(12px);
    cursor: pointer;
    &::before,
    &::after {
      @include pseudo;
      border-radius: 50%;
      transition: all 0.2s ease;
    }
    &::after,
    &::before {
      box-sizing: border-box;
    }
    // custom CIRCLE
    &::before {
      border: 1px solid hsl(var(--color-primary-h), var(--color-primary-s), 54%);
      width: 13px;
      height: 13px;
      top: 3px;
      left: 3px;
    }
    // custom CHECK
    &::after {
      width: 7px;
      height: 7px;
      top: 1px;
      left: 1px;
      background-color: var(--color-primary);
      transform: translate(5px, 5px) scale(0);
    }
  }
  &:hover {
    & > input {
      &:focus {
        opacity: 0.2;
      }
    }
  }
  &.disabled {
    color: var(--color-disabled);
    pointer-events: none;
    span {
      cursor: default;
      &::before {
        border-color: var(--color-disabled);
      }
    }
    & > input {
      &:checked {
        & + span {
          &::before {
            border-color: var(--color-disabled);
          }
          &::after {
            background-color: var(--color-disabled);
          }
        }
      }
    }
  }
}
