@import "../../assets/scss/_BIMDataVariables.scss";
.bimdata-table {
  width: 100%;
  font-size: 0.9rem;
  background-color: var(--color-white);

  &__container {
    table {
      border-collapse: collapse;
      border-spacing: 0;

      tbody tr:nth-child(odd) {
        background-color: var(--color-silver-light);
      }

      th,
      td {
        min-height: calc(var(--spacing-unit) * 2);
        padding: 0 var(--spacing-unit);

        &.cell-checkbox:deep() {
          width: 42px;
        }
      }

      th {
        font-weight: bold;
        color: var(--color-primary);
      }

      td {
        color: var(--color-granite);
      }
    }

    &__placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--spacing-unit);
      font-size: 1rem;
      font-weight: bold;
      background-color: var(--color-silver-light);
    }
  }

  &__page-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-unit);

    &__text {
      margin: 0 var(--spacing-unit);
    }
  }
}
