.bimdata-table{
  display: flex;
  flex-direction: column;
  tr{
    display: flex;
    th, td{
      padding: calc(#{$spacing-unit} / 2) $spacing-unit;
      min-height: calc(#{$spacing-unit} * 2);
      align-items: center;
      position: relative;
      display: flex;
      flex: 1;
      align-items: center;
      font-size: calculateEm(12px);
    }
  }
  thead{
    tr{
      td{
        height: calc(#{$spacing-unit} * 3);
        background-color: transparent;
        color: $color-black;
      }
    }
  }
  tbody{
    tr{
      td{
        color: $color-tertiary-darkest;
      }
      &:nth-child(odd){
        background-color: $color-tertiary-lightest;
      }
    }
  }
}