.bimdata-table {
  width: 100%;
  font-size: 14px;
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--primary-font);
    border-spacing: 0;
    tr {
      th,
      td {
        height: 50px;
        padding: 0 var(--spacing-unit);
        min-height: calc(var(--spacing-unit) * 2);
        color: var(--color-primary);
        font-size: 11px;
        text-align: left;
      }
    }
    tbody {
      tr {
        td {
          color: var(--color-tertiary-darkest);
        }
        &:nth-child(odd) {
          background-color: var(--color-tertiary-lighten);
        }
      }
    }
  }
  &__compensated {
    table {
      tr {
        th,
        td {
          height: 35px;
        }
      }
    }
  }
}

// THEME DARK
.bimdata-ds-theme-dark {
  .bimdata-table {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
