.bimdata-table {
  width: 100%;
  font-size: 0.9rem;
  background-color: var(--color-white);

  & .bimdata-table__container {
    height: 100%;

    table {
      border-collapse: collapse;
      border-spacing: 0;

      tbody tr:nth-child(odd) {
        background-color: var(--color-silver-light);
      }

      th,
      td {
        min-height: calc(var(--spacing-unit) * 2);
        padding: 0 var(--spacing-unit);

        &.cell-checkbox:deep() {
          width: 42px;
        }
      }

      th {
        position: relative;
        font-weight: bold;
        color: var(--color-primary);

        &.cell-sub-header {
          min-height: 0;
          padding: 0;
          text-align: left;
          font-weight: normal;
          color: var(--color-granite-lightest);
        }
        .active {
          background-color: #e0eef9;
        }
      }

      td {
        color: var(--color-granite-light);
      }
    }

    .bimdata-table__container__placeholder {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--spacing-unit);
      font-size: 1rem;
      font-weight: bold;
    }
  }

  & .bimdata-table__container__page-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-unit);

    & .bimdata-table__container__page-nav__text {
      margin: 0 var(--spacing-unit);
    }
  }

  &.dark {
    .bimdata-table__container table tbody tr:nth-child(odd) {
      background-color: var(--color-quaternary-dark);
    }
    .bimdata-table__container table thead tr,
    .bimdata-table__container table tbody tr:nth-child(even) {
      background-color: var(--color-quaternary);
      th {
        color: var(--color-quaternary-lighter);
      }
    }
    .bimdata-table__container {
      td {
        color: var(--color-white);
      }
    }
  }
}
