.article-loader {
  ::v-deep .bimdata-ds__demo {
    &__module {
      height: 200px;
    }
  }
  &__doc {
    h6,
    p {
      font-size: 14px;
    }
    h6 {
      margin: 18px 0 0;
    }
    p {
      margin-top: 6px;
    }
  }
}
