.bimdata-search-autocomplete {
  width: 350px;
  position: relative;
  &__input {
    position: relative;
    .bimdata-search-icon {
      position: absolute;
      left: 12px;
      height: 13px;
    }
    input {
      height: 32px;
      width: 100%;
      border: none;
      background-color: var(--color-silver-light);
      &:focus,
      &:focus-visible {
        border: none;
        outline: none;
      }
    }
  }
  &__dropdown {
    margin-top: 6px;
    width: 100%;
    display: none;
    background-color: var(--color-white);
    color: var(--color-primary);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    &.open {
      display: block;
      position: absolute;
    }
    .active {
      background-color: var(--color-silver-light);
    }
    li {
      &:hover {
        background-color: var(--color-silver-light);
        cursor: pointer;
      }
    }
    &__left {
      min-width: 50px;
      max-width: 50px;
      .logo {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: contain;
      }
    }
    &__right {
      .title {
        font-size: 14px;
        font-weight: 400;
      }
      .text {
        font-size: 12px;
      }
    }
    &__button {
      height: 37px;
      border-top: 1px solid var(--color-silver);
      font-size: 14px;
      &:hover {
        background-color: var(--color-silver-light);
        cursor: pointer;
      }
    }
  }
}
