.bimdata-dropdown {
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &__content {
    padding: 0 $spacing-unit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    border: 1px solid $color-tertiary;
    border-radius: 3px;
    cursor: pointer;
    .bimdata-btn {
      background-color: $color-tertiary-lightest;
    }
    &.active {
      background-color: $color-white;
      border: 1px solid transparent;
      box-shadow: 0 2px 10px 0 rgba($color-black, 0.1);
    }
    &.disabled {
      cursor: default;
      color: $color-disabled;
      .bimdata-btn {
        cursor: default;
        color: $color-disabled;
      }
    }
  }
  &__elements {
    font-size: 11px;
    &:first-child {
      padding: calc(12px / 2) 0;
      overflow: auto;
      z-index: 1;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
