.bimdata-dropdown {
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &__content {
    padding: 0 var(--spacing-unit);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    border: 1px solid var(--color-tertiary);
    border-radius: 3px;
    cursor: pointer;
    .bimdata-btn {
      background-color: var(--color-tertiary-lightest);
    }
    &.active {
      background-color: var(--color-white);
      border: 1px solid transparent;
      box-shadow: var(--box-shadow);
    }
    &.disabled {
      cursor: default;
      color: var(--color-disabled);
      .bimdata-btn {
        cursor: default;
        color: var(--color-disabled);
      }
    }
  }
  &__elements {
    font-size: 11px;
    &:first-child {
      padding: calc(#{var(--spacing-unit)} / 2) 0;
      overflow: auto;
      z-index: 1;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
