// import BIMDATA VARIABLES
@import "../../assets/scss/_BIMDataTransitions.scss";
@import "../../assets/scss/elements/_BIMDataSubmenus.scss";
.bimdata-dropdown {
  height: 42px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  &__content {
    padding: 0 var(--spacing-unit);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    border: 1px solid var(--color-silver);
    border-radius: 3px;
    cursor: pointer;
    .bimdata-btn {
      background-color: var(--color-silver-light);
    }
    &.active {
      background-color: var(--color-white);
      border: 1px solid transparent;
      box-shadow: var(--box-shadow);
    }
    &.disabled {
      cursor: default;
      color: var(--color-silver-dark);
      .bimdata-btn {
        cursor: default;
        color: var(--color-silver-dark);
      }
    }
  }
  &__elements {
    font-size: 11px;

    &__menu-items {
      padding-left: 0px;
      margin: 0;

      &__item {
        position: relative;
        div {
          padding-left: var(--spacing-unit);
        }

        &__children {
          overflow: auto;
          padding: calc(var(--spacing-unit) / 2) 0;
          background-color: var(--color-white);
          border: 1px solid transparent;
          box-shadow: var(--box-shadow);
          position: absolute;
          width: 100%;
          left: 100%;
          top: -6%;
        }
      }
    }

    &:first-child {
      padding: calc(#{var(--spacing-unit)} / 2) 0;
      overflow: auto;
      z-index: 1;
    }
    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
