@import "../../../../assets/scss/BIMDataVariables";

.file-card {
  width: 140px;
  height: 170px;
  overflow: hidden;

  &--selected {
    border: solid $color-primary 3px;
  }

  &:not(.file-card--selected) {
    margin: 3px;
  }

  &__menu {
    position: absolute;
    top: 30px;
    left: 2px;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%);
    width: calc(100% - 4px);
    background-color: white;
    padding: $spacing-unit 0;
  }

  ::v-deep {
    .bimdata-card__content {
      position: relative;
      height: 96px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .bimdata-card__footer {
      box-sizing: border-box;
      overflow: hidden;
      height: calc(100% - 96px);
      padding: $spacing-unit;
      border-top: 1px solid $color-silver-light;

      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__btn-menu {
    position: absolute;
    top: $spacing-unit / 2;
    right: $spacing-unit / 4;

    &__edit {
      margin: -6px -8px;
    }

    &__spinner {
      right: 3px;
      top: 3px;
      position: absolute;
      color: $color-primary;
    }

    &__success {
      background-color: white;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }

  &__name {
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
    color: $color-granite;
    word-break: break-word;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
  }

  &__date {
    font-size: 10px;
    color: $color-granite-light;
  }
}
