.bimdata-ds {
  &__header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: $color-white;
    box-shadow: 0 2px 10px 0 rgba($color-black, .1);
    position: fixed;
  }
  &__logo {
    width: 300px;
    a {
      display: flex;
      align-items: center;
      height: 100%;
      img {
        margin-left: 32px;
        width: 50%;
      }
    }
  }
  &__navigation {
    flex: 8;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      margin: 0 90px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      li {
        a {
          padding: 0 $spacing-unit;
          height: 100%;
          display: flex;
          align-items: center;
          position: relative;
          color: $color-primary;
          text-decoration: none;
          &::after {
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $color-primary;
            bottom: 0;
            left: 0;
            opacity: 0;
          }
          &:hover {
            &::after {
              opacity: .6;
            }
          }
          &.router-link-active {
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  &__dark{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    .moon,
    .moon::after {
        display: block;
        box-sizing: border-box;
        border-radius: 50%;
    }
    .moon {
      width: 20px;
      height: 20px;
      border: 2px solid;
      border-bottom-color: transparent;
      position: relative;
      transform: rotate(-135deg);
      overflow: hidden;
      cursor: pointer;
        &::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 18px;
          box-shadow: 0 0 0 2px;
          top: 8px;
          left: 2px;
      }
    }
    .sun {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 24px;
      height: 24px;
      background: linear-gradient( currentColor 4px,transparent 0) no-repeat 5px -6px/2px 6px, linear-gradient( currentColor 4px,transparent 0) no-repeat 5px 14px/2px 6px, linear-gradient( currentColor 4px,transparent 0) no-repeat -8px 5px/6px 2px, linear-gradient( currentColor 4px,transparent 0) no-repeat 14px 5px/6px 2px;
      border-radius: 100px;
      box-shadow: inset 0 0 0 2px;
      border: 6px solid transparent;
      cursor: pointer;
      &::after, &::before{
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        width: 24px;
        height: 2px;
        border-right: 4px solid;
        border-left: 4px solid;
        left: -6px;
        top: 5px;
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
}