.bimdata-ds__demo {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(
      200px,
      300px
    );
  grid-template-rows: auto;
  position: relative;
  h3 {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  &__tertiary-lightest {
    .bimdata-ds__demo__module {
      background-color: $color-tertiary-lightest;
    }
  }
  &__module {
    padding: 1rem;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-tertiary;
  }
  &__parameters {
    padding: 1rem 1rem 1rem 2rem;
    grid-column: 3 / 3;
    grid-row: 2 / 4;
    background-color: $color-tertiary-lightest;
    &__options {
      margin: 1rem 0;
    }
  }
  &__import {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    position: relative;
    pre {
      margin: 0;
      background: #32343e;
    }
    &__language {
      position: absolute;
      top: calc(24px / 2 - 6px / 2);
      right: calc(55px + 12px);
      font-size: 11px;
      letter-spacing: 0.5px;
      opacity: 0.5;
    }
  }
  &__code {
    grid-column: 1 / 4;
    grid-row: 5 / 5;
    position: relative;
    pre {
      margin: 0;
      background: #282b34;
    }
  }
}
