.bimdata-ds__demo {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr) minmax(200px, 300px);
  grid-template-rows: auto;
  position: relative;
  h3 {
    grid-area: 1 / 1 / 2 / 4;
  }
  &__tertiary-lightest {
    .bimdata-ds__demo__module {
      background-color: $color-tertiary-lightest;
    }
  }
  &__module {
    padding: 1em;
    grid-area: 2 / 1 / 4 / 3;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-tertiary;
    &.without-options {
      grid-column: 1/4;
    }
  }
  &__parameters {
    grid-area: 2 / 3 / 4 / 4;
    background-color: $color-tertiary-lightest;
    &__options {
      padding: 1em 1em 1em 2em;
    }
    &--links {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($color-tertiary, 0.4);
      .bimdata-tooltip {
        margin-right: 12px;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 80%;
          }
        }
      }
    }
  }
  &__import {
    grid-area: 4 / 1 / 5 / 4;
    position: relative;
    pre {
      margin: 0;
      background: #32343e;
    }
    &__language {
      position: absolute;
      top: calc(24px / 2 - 6px / 2);
      right: calc(55px + 12px);
      font-size: 11px;
      letter-spacing: 0.5px;
      opacity: 0.5;
    }
  }
  &__code {
    grid-area: 5 / 1 / 6 / 4;
    position: relative;
    pre {
      margin: 0;
      background: #282b34;
    }
  }
}
